body {
  /* margin: 0; */
  font-family: sans-serif;
  /* background: linear-gradient(to bottom, #f0fdf4, #eff6ff);
  overflow: hidden; */
  background-color: rgb(239, 249, 239);
}
.fade-in {
  animation: fadeIn 1s ease forwards;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.weather-section {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f5fdfb;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 128, 0, 0.1);
  display: flex;
    background-color: rgb(239, 249, 239);
}

.api-info {
  width: 70%;
  margin-left: 15%;
  background: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  color: #2e7d32;
  font-size: 0.95rem;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .hero-image img {
    object-fit: cover;
    object-position: center;
  }

  .section {
    width: 90%;
    margin: 0 auto 16px auto;
    padding: 16px;
  }

  .weather-section {
    flex-direction: column;
    padding: 1rem;
    margin: 1rem auto;
    width: 95%;
  }
    .weather-dashboard {
    width: 100%;
  }

  .weather-btn {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
  }

  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .footer {
    text-align: center;
  }

}
